[submodule "introduction-pAIthon-devs/neural-networks/deep-learning"]
	path = introduction-pAIthon-devs/neural-networks/deep-learning
	url = https://github.com/udacity/deep-learning.git
[submodule "introduction-pAIthon-devs/neural-networks/deep-learning-v2-pytorch"]
	path = introduction-pAIthon-devs/neural-networks/deep-learning-v2-pytorch
	url = https://github.com/udacity/deep-learning-v2-pytorch.git
